<div class="up-container footer">

    <img src="../../assets/UpAdaptLogo.png" alt="" class="d-block mb-3">
    <div class="row d-flex justify-content-between">
        <div class="col-lg-4 col-md-4 col-12">
            <small class="text-light my-4">We help you to upgrade yourself as per current industry requirements. Not only in a particular segment but across multiple dimentions which are essentials to every professional on field.</small>
            <div class="d-flex flex-row my-4">
                <a href=""><img src="../../assets/icons/icons8-linkedin-64 1.png" height="24px" width="24px" alt="linkedin" class="me-3"></a>
                <a href=""><img src="../../assets/icons/icons8-facebook-64 1.png" height="24px" width="24px" alt="facebook" class="me-3"></a>
                <a href=""><img src="../../assets/icons/icons8-twitter-64 1.png"  height="24px" width="24px" alt="twitter" class="me-3"></a>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-12 d-flex flex-row text-light">
            <div class="profiles d-flex flex-column mx-4">
                <h5>Profiles</h5>
                <p>IT </p>
                <p>Sales Executives</p>
                <p>Insurance</p>
                <p>Banking</p>
            </div>
            <div class="Overview d-flex flex-column mx-4">
                <h5>Links</h5>
                <p>About</p>
                <p>Support</p>
                <p>Terms</p>
                <p>FAQs</p>
            </div>
        </div>
    </div>
</div>