<!-- Banner -->
<div class="page-banner up-container">
    <div class="banner row justify-content-between">
        <div class="col-lg-6 col-md-6 col-sm-12" data-aos="fade-right">
            <img class="img-fluid" src="../../assets/aboutUsHero.svg" alt="">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" data-aos="fade-left">
            <div class="d-flex flex-column justify-content-center">
                <h1 class="text-light">Smart hiring</h1>
                <h1 class="text-light">With smart solutions</h1>
                <p>we help you to upgrade yourself as per current industry requirements. Not only in a particular segment but across multiple dimentions which are essentials to every professional on field.</p>
            </div>
            <a href="https://upadapt.co.in/jobs-form"><button type="button" class="btn btn-light apply-btn my-3 ">Apply</button></a>
        </div>
    </div>  
</div>


<!-- About Us section -->

<div class="up-container text-center">
    <div class="section-title" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
        <h3>About Us</h3>
        <div class="title-underline"></div>
    </div>

    <em class="text-center">"Time and tide wait for no man"</em>
    <p class="px-5 mt-4">With this adage in mind, we identify exceptional talent and promptly choose them for your review after screening them. By doing this, we save you the time-consuming task of searching through endless resumes, narrowing down the names of potential candidates who fit your requirements, and scheduling interviews with them.</p>
    <p class="px-5">All you have to do is send us the job descriptions for your various open positions. After that...the ball is in our court, and we will contact you directly...with the most deserving candidates' desired profiles</p>
</div>


<!-- Our Clients -->
<div class="up-container">
    <div class="section-title" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
        <h3>Our Clients</h3>
        <div class="title-underline"></div>
    </div>

    <div class="d-flex justify-content-around flex-row flex-wrap gap-4">
        <div class="card">
            <img  src="../../assets/logos/afry-af-poyry-ab-vector-logo transaprent.png" class="rounded img-fluid" alt="">
        </div>
        <div class="card">
            <img  src="../../assets/logos/ashrith consulting private limited transparent.png" class="rounded img-fluid" alt="">
        </div>
        <div class="card">
            <img  src="../../assets/logos/gridbots transparent.png" class="rounded img-fluid" alt="">
        </div>
        <div class="card">
            <img  src="../../assets/logos/oneinsure transparent.png" class="rounded img-fluid" alt="">
        </div>
        <div class="card">
            <img  src="../../assets/logos/Pratyin_logo_transparent.png" class="rounded img-fluid" alt="">
        </div>
        <div class="card">
            <img  src="../../assets/logos/Tablabs logo.jpg" class="rounded img-fluid" alt="">
        </div>
        <div class="card">
            <img  src="../../assets/logos/voiz transaprent.png" class="rounded img-fluid" alt="">
        </div>
        <div class="card">
            <img  src="../../assets/logos/wroots global transparent.png" class="rounded img-fluid" alt="">
        </div>
    </div>
</div>

<!-- 
<div class="up-container">
    <div class="section-title" data-aos="fade-up">
        <h3>Contact Us</h3>
        <div class="title-underline"></div>
    </div>


</div> -->
