

.card{
    padding: 1.5rem;
    height: 10rem;
    width: 20rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    img{
        height: 7rem;
        width: auto;
    }
}