<!-- Banner -->
<div class="page-banner up-container">
    <div class="banner row justify-content-between">
        <div class="col-lg-6 col-md-6 col-sm-12" data-aos="fade-right">
            <div class="d-flex flex-column justify-content-center">
                <h1 class="text-light">Smart hiring</h1>
                <h1 class="text-light">With smart solutions</h1>
                <p>we help you to upgrade yourself as per current industry requirements. Not only in a particular segment but across multiple dimentions which are essentials to every professional on field.</p>
            </div>
            <a href="https://upadapt.co.in/jobs-form"><button type="button" class="btn btn-light apply-btn my-3 ">Apply</button></a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img class="img-fluid" src="../../assets/Hero-Image.png" alt="" data-aos="fade-left">
        </div>
    </div>
</div>

<!-- Why UpAdapt -->
<div class="up-container">
    <div class="section-title" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
        <h3>Why upAdapt ?</h3>
        <div class="title-underline"></div>
    </div>

    <div class="row justify-content-between">
        <div class="col-lg-6 col-md-6 col-sm-12 text-center mb-3">
            <img class="img-fluid" src="../../assets/whyUpadaptImg.svg" alt="">
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 d-flex align-items-center" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                <p>UpAdapt's purpose is to empower businesses by supporting them in teaming up with talented and motivated individuals who are not only excellent at their jobs but also positively contribute to the culture of the organizations they represent.</p>
        </div>
    </div>  
</div>


<!-- Rise Up Section -->

<div class="up-container">
    <div class="section-title" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
        <h3>R.I.S.E. U.P</h3>
        <div class="title-underline"></div>
    </div>

    <div class='rise-up-gallery row row-col-3 d-flex flex-row justify-content-around gap-4 py-3 ps-sm-4'>
        <div *ngFor="let blog of riseUpData" class="rise-up-block">
            <h5>{{blog.title}}</h5>
            <p>{{blog.description}}</p>
        </div>
    </div>
</div>


<!-- Our Vision Our Mission -->

    <div class="row vision-mission-wrapper">
        <div class="vision-container col-lg-7 col-md-7 col-sm-12" data-aos="fade-right">
            <div class="pe-3">
                <h2 class="mb-3 color-primary">Out Vision</h2>
                <p>To help companies find the best possible candidates for their open positions, and to help job seekers find the right opportunities for their skills and career goals.</p>
            </div>
        </div>
        <div class="mission-container col-lg-5 col-md-5 col-sm-12 bg-color-primary" data-aos="fade-left">
            <h2 class="mb-3 bg-color-primary text-light">Our Mission</h2>
            <p>striving to be a valuable partner for both companies and job seekers, providing high-quality services and support to help both parties achieve their goals.</p>
        </div>
    </div>
    

<!-- Process Section -->
<div class="up-container process-section">
    <div *ngFor="let step of recrutSteps" class="step-card row mb-4 rounded" data-aos="fade-left">
        <div class="step-no col-lg-2 col-md-2 col-sm-12 p-3 d-flex justify-content-center align-items-center rounded">
            <h2 >{{step.step_no}}</h2>
        </div>
        <div class="px-3 py-3 col-lg-10 col-md-10 col-sm-12 bg-light rounded">
            <h5>{{step.step_title}}</h5>
            <p>{{step.step_desc}}</p>
        </div>
    </div>
</div>

